services:
  github-runner:
    image: github-runner:latest
    container_name: github-runner
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - RUNNER_VERSION=${RUNNER_VERSION}
        - VALIDATION_HASH=${VALIDATION_HASH}
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    group_add:
      - "999"
